<div class="about">
    <br>
    <div class="about__divider">*****</div>
    <div class="about__text">
        Creado por 
        <span onclick="window.open('https://github.com/ninyam/paresordenados')" style="cursor: pointer">
            <i class="fa fa-github-alt" aria-hidden="true"></i> ninyam
        </span>
        basado en el tema 
        <span onclick="window.open('https://github.com/knhash/Pudhina')" style="cursor: pointer">
            <img src="{{ '/assets/img/pudhina.jpg' | prepend: site.baseurl }}" width="32" height="32" style="vertical-align:bottom">Pudhina
        </span>
         - Íconos de 
        <span onclick="window.open('https://icons8.com/illustrations/author/zD2oqC8lLBBA')" style="cursor: pointer">
            <img src="{{ '/assets/img/icons8-icons8-16.png' | prepend: site.baseurl }}" width="32" height="32" style="vertical-align:bottom">Icons8
        </span>
    </div>
</div>
