<header class="header">
    <div class="navbar">
        <div class="subnav">
          <button class="subnavbtn">Home <i class="fa fa-caret-down"></i></button>
          <div class="subnav-content">
            <a href="#company">Company</a>
            <a href="#team">Team</a>
            <a href="#careers">Careers</a>
          </div>
        </div> 
        <div class="subnav">
          <button class="subnavbtn">Services <i class="fa fa-caret-down"></i></button>
          <div class="subnav-content">
            <a href="#bring">Bring</a>
            <a href="#deliver">Deliver</a>
            <a href="#package">Package</a>
            <a href="#express">Express</a>
          </div>
        </div> 
        <div class="subnav">
          <button class="subnavbtn">Partners <i class="fa fa-caret-down"></i></button>
          <div class="subnav-content">
            <a href="#link1">Link 1</a>
            <a href="#link2">Link 2</a>
            <a href="#link3">Link 3</a>
            <a href="#link4">Link 4</a>
          </div>
        </div>
        <a href="#contact">Contact</a>
      </div>
<!--<div class="navigation">
    <a href="{{ '/' | prepend: site.baseurl }}" class="logo">{{ site.title }}</a>
    <ul class="menu">
        <li class="menu__entry"><a href="{{ '/index' | prepend: site.baseurl }}">Info</a></li>
        <li class="menu__entry"><a href="{{ '/aprendices' | prepend: site.baseurl }}">Aprendices</a></li>
        <li class="menu__entry"><a href="{{ '/mentores' | prepend: site.baseurl }}">Mentores</a></li>        
        <li class="menu__entry"><a href="{{ '/contacto' | prepend: site.baseurl }}">Contacto</a></li>
        <li class="menu__entry"><a href="{{ '/resume' | prepend: site.baseurl }}">Resume</a></li>
        <li class="menu__entry"><a href="{{ '/blog' | prepend: site.baseurl }}">Blog</a></li>
    </ul>
</div>-->
<!--<ul class="social-links">
    {% if site.author.email %}
    <a href="mailto:{{ site.author.email }}" class="social-links__entry" target="_blank">
    <i class="fa fa-envelope-square"></i>
    </a>
    {% endif %}
    {% if site.author.github %}
    <a href="https://github.com/{{ site.author.github }}" class="social-links__entry" target="_blank">
    <i class="fa fa-github"></i>
    </a>
    {% endif %}
    {% if site.author.linkedin %}
    <a href="https://in.linkedin.com/in/{{ site.author.linkedin }}" class="social-links__entry" target="_blank">
    <i class="fa fa-linkedin"></i>
    </a>
    {% endif %}
</ul>-->
</header>