<!DOCTYPE html>
<html lang="en">
<head>
    <!--
    {% include meta_tags/base.html %}
    {% include externals/styling.html %}-->
    <style>
        /* Header/Logo Title */
        .header {
          padding: 60px;
          text-align: center;
          background: #1abc9c;
          color: white;
          font-size: 30px;
        }
        
        /* Page Content */
        .content {padding:20px;}
        </style>
</head>
<body>
    <div class="wrapper">
        {% include header.html %}
        {{ content }}
    </div>
    {% include externals/scripting.html %}
</body>
</html>