<!DOCTYPE html>
<html lang="en">
<head>
    {% include meta_tags/base.html %}
    {% include externals/styling.html %}
    <style>
        /* Header/Logo Title */
        .header {
          padding: 60px;
          text-align: center;
          background: #1abc9c;
          color: white;
          font-size: 30px;
        }
        
        /* Page Content */
        .content {padding:20px;}
        </style>
</head>
<body>
    <div class="header">
        <h1>Pares Ordenados</h1>
        <p>Programa Virtual de Lectura Dirigida</p>
    </div>
    <div class="wrapper">        
        {{ content }}
    </div>
    {% include externals/scripting.html %}
</body>
</html>
<!--{% include header.html %}-->